*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 80px;
}

body{
    font-family: monospace;
}

#bookmarklet{
    position: relative;
    color: black;
}

.box{
    width: 100vw;
    height: 100vh;
}